<div class="repo-header">
  <h1>
    {{fa-icon icon="book"}}
    <span class="user"><a href="#TODO">{{model.owner.login}}</a></span>
    /
    <span class="repo"><a href="#TODO">{{model.name}}</a></span>
  </h1>
</div>
{{outlet}}
