<header>
  <a href="https://github.com/emberjs/ember.js" target="_blank">
    <i class="fa fa-github"></i>
  </a>

  <a href="https://github.com/chancancode/ember-cli-github-issues" target="_blank" class="btn primary fork">
    <i class="fa fa-code-fork"></i> Fork Me on GitHub
  </a>
</header>

{{outlet}}
